# Про Pandas

In [1]:
import os
import pandas as pd
import numpy as np

pizza = pd.read_csv(os.path.join('data','Datafiniti_Pizza_Restaurants_and_the_Pizza_They_Sell_May19.csv'))

In [2]:
pizza.head()

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,...,menus.currency,menus.dateSeen,menus.description,menus.name,name,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province
0,AVz3Y-7h3D1zeR_xDAqm,2017-06-30T05:05:40Z,2019-05-01T15:43:09Z,4203 E Kiehl Ave,"Pizza,Restaurant,American restaurants,Pizza Pl...",Accommodation & Food Services,Sherwood,US,us/ar/sherwood/4203ekiehlave/-1051391616,34.832300,...,USD,"2018-05-01T04:25:37.197Z,2018-04-16T04:36:02.3...",NaN,Cheese Pizza,Shotgun Dans Pizza,72120,USD,0,25,AR
1,AVweGPFF_7pvs4fzAAzQ,2016-04-02T04:02:49Z,2019-05-01T15:27:50Z,25 E Camelback Rd,"Pizza,Pizza Place,Restaurants",Accommodation & Food Services,Phoenix,US,us/az/phoenix/25ecamelbackrd/-727422936,33.509266,...,USD,"2018-03-03T02:38:06.381Z,2018-01-18T20:18:10.0...",NaN,Pizza Cookie,Sauce Pizza Wine,85012,USD,0,25,AZ
2,AVwdRGa9_7pvs4fz4E3K,2016-03-03T18:39:49Z,2019-05-01T12:52:25Z,3703 Paxton Ave,"Restaurant,Pizza Place,Restaurants",Accommodation & Food Services,Cincinnati,US,us/oh/cincinnati/3703paxtonave/-619797122,39.144883,...,USD,"2018-04-10T07:58:34.585Z,2018-04-21T05:43:21.4...",a saucelessampcomma double cheese pizza with a...,Pizza Blanca,Mios Pizzeria,45209,USD,0,25,OH
3,AVwdX4psIN2L1WUfvJB1,2016-03-29T05:08:59Z,2019-05-01T12:52:20Z,30495 John R Rd,"Pizza,Carry-out food,Pizza Place,Restaurants",Accommodation & Food Services,Madison Heights,US,us/mi/madisonheights/30495johnrrd/-874863116,42.516669,...,USD,"2016-10-20T21:50:02Z,2016-03-29T05:08:59Z",NaN,Small Pizza,Hungry Howies Pizza,48071,USD,25,40,MI
4,AVwdaeTtkufWRAb55pSH,2016-03-31T02:34:04Z,2019-05-01T12:50:45Z,3600 Eastern Ave,"Pizza,American restaurants,Pizza Place,Pizza e...",Accommodation & Food Services,Baltimore,US,us/md/baltimore/3600easternave/-1270965359,39.286630,...,USD,2016-03-31T02:34:04Z,NaN,Pizza Sub,Spartan Pizzeria,21224,USD,0,25,MD

In [3]:
# Первые строчки таблицы

In [4]:
# Информация о таблице

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  10000 non-null  object
 1   dateAdded           10000 non-null  object
 2   dateUpdated         10000 non-null  object
 3   address             10000 non-null  object
 4   categories          10000 non-null  object
 5   primaryCategories   10000 non-null  object
 6   city                10000 non-null  object
 7   country             10000 non-null  object
 8   keys                10000 non-null  object
 9   latitude            10000 non-null  float64
 10  longitude           10000 non-null  float64
 11  menuPageURL         1679 non-null   object
 12  menus.amountMax     10000 non-null  float64
 13  menus.amountMin     10000 non-null  float64
 14  menus.currency      10000 non-null  object
 15  menus.dateSeen      10000 non-null  object
 16  menus.description   3718 non-null   object
 17  menus.name          10000 non-null  object
 18  name                10000 non-null  object
 19  postalCode          9996 non-null   object
 20  priceRangeCurrency  10000 non-null  object
 21  priceRangeMin       10000 non-null  int64
 22  priceRangeMax       10000 non-null  int64
 23  province            10000 non-null  object
dtypes: float64(4), int64(2), object(18)
memory usage: 1.8+ MB

In [5]:
# Если нужно удалить колонки
pizza = pizza.drop(['address','dateUpdated'], axis=1)

In [6]:
pizza.head()

,id,dateAdded,categories,primaryCategories,city,country,keys,latitude,longitude,menuPageURL,...,menus.currency,menus.dateSeen,menus.description,menus.name,name,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province
0,AVz3Y-7h3D1zeR_xDAqm,2017-06-30T05:05:40Z,"Pizza,Restaurant,American restaurants,Pizza Pl...",Accommodation & Food Services,Sherwood,US,us/ar/sherwood/4203ekiehlave/-1051391616,34.832300,-92.183800,http://www.citysearch.com/profile/menu/1550074...,...,USD,"2018-05-01T04:25:37.197Z,2018-04-16T04:36:02.3...",NaN,Cheese Pizza,Shotgun Dans Pizza,72120,USD,0,25,AR
1,AVweGPFF_7pvs4fzAAzQ,2016-04-02T04:02:49Z,"Pizza,Pizza Place,Restaurants",Accommodation & Food Services,Phoenix,US,us/az/phoenix/25ecamelbackrd/-727422936,33.509266,-112.073044,NaN,...,USD,"2018-03-03T02:38:06.381Z,2018-01-18T20:18:10.0...",NaN,Pizza Cookie,Sauce Pizza Wine,85012,USD,0,25,AZ
2,AVwdRGa9_7pvs4fz4E3K,2016-03-03T18:39:49Z,"Restaurant,Pizza Place,Restaurants",Accommodation & Food Services,Cincinnati,US,us/oh/cincinnati/3703paxtonave/-619797122,39.144883,-84.432685,http://www.citysearch.com/profile/menu/8160503...,...,USD,"2018-04-10T07:58:34.585Z,2018-04-21T05:43:21.4...",a saucelessampcomma double cheese pizza with a...,Pizza Blanca,Mios Pizzeria,45209,USD,0,25,OH
3,AVwdX4psIN2L1WUfvJB1,2016-03-29T05:08:59Z,"Pizza,Carry-out food,Pizza Place,Restaurants",Accommodation & Food Services,Madison Heights,US,us/mi/madisonheights/30495johnrrd/-874863116,42.516669,-83.106630,NaN,...,USD,"2016-10-20T21:50:02Z,2016-03-29T05:08:59Z",NaN,Small Pizza,Hungry Howies Pizza,48071,USD,25,40,MI
4,AVwdaeTtkufWRAb55pSH,2016-03-31T02:34:04Z,"Pizza,American restaurants,Pizza Place,Pizza e...",Accommodation & Food Services,Baltimore,US,us/md/baltimore/3600easternave/-1270965359,39.286630,-76.566984,NaN,...,USD,2016-03-31T02:34:04Z,NaN,Pizza Sub,Spartan Pizzeria,21224,USD,0,25,MD

In [7]:
# Выводим названия колонок
pizza.columns

Index(['id', 'dateAdded', 'categories', 'primaryCategories', 'city', 'country',
       'keys', 'latitude', 'longitude', 'menuPageURL', 'menus.amountMax',
       'menus.amountMin', 'menus.currency', 'menus.dateSeen',
       'menus.description', 'menus.name', 'name', 'postalCode',
       'priceRangeCurrency', 'priceRangeMin', 'priceRangeMax', 'province'],
      dtype='object')

In [8]:
pizza.head()

,id,dateAdded,categories,primaryCategories,city,country,keys,latitude,longitude,menuPageURL,...,menus.currency,menus.dateSeen,menus.description,menus.name,name,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province
0,AVz3Y-7h3D1zeR_xDAqm,2017-06-30T05:05:40Z,"Pizza,Restaurant,American restaurants,Pizza Pl...",Accommodation & Food Services,Sherwood,US,us/ar/sherwood/4203ekiehlave/-1051391616,34.832300,-92.183800,http://www.citysearch.com/profile/menu/1550074...,...,USD,"2018-05-01T04:25:37.197Z,2018-04-16T04:36:02.3...",NaN,Cheese Pizza,Shotgun Dans Pizza,72120,USD,0,25,AR
1,AVweGPFF_7pvs4fzAAzQ,2016-04-02T04:02:49Z,"Pizza,Pizza Place,Restaurants",Accommodation & Food Services,Phoenix,US,us/az/phoenix/25ecamelbackrd/-727422936,33.509266,-112.073044,NaN,...,USD,"2018-03-03T02:38:06.381Z,2018-01-18T20:18:10.0...",NaN,Pizza Cookie,Sauce Pizza Wine,85012,USD,0,25,AZ
2,AVwdRGa9_7pvs4fz4E3K,2016-03-03T18:39:49Z,"Restaurant,Pizza Place,Restaurants",Accommodation & Food Services,Cincinnati,US,us/oh/cincinnati/3703paxtonave/-619797122,39.144883,-84.432685,http://www.citysearch.com/profile/menu/8160503...,...,USD,"2018-04-10T07:58:34.585Z,2018-04-21T05:43:21.4...",a saucelessampcomma double cheese pizza with a...,Pizza Blanca,Mios Pizzeria,45209,USD,0,25,OH
3,AVwdX4psIN2L1WUfvJB1,2016-03-29T05:08:59Z,"Pizza,Carry-out food,Pizza Place,Restaurants",Accommodation & Food Services,Madison Heights,US,us/mi/madisonheights/30495johnrrd/-874863116,42.516669,-83.106630,NaN,...,USD,"2016-10-20T21:50:02Z,2016-03-29T05:08:59Z",NaN,Small Pizza,Hungry Howies Pizza,48071,USD,25,40,MI
4,AVwdaeTtkufWRAb55pSH,2016-03-31T02:34:04Z,"Pizza,American restaurants,Pizza Place,Pizza e...",Accommodation & Food Services,Baltimore,US,us/md/baltimore/3600easternave/-1270965359,39.286630,-76.566984,NaN,...,USD,2016-03-31T02:34:04Z,NaN,Pizza Sub,Spartan Pizzeria,21224,USD,0,25,MD

In [9]:

pizza['pizzeria_name_len'] = pizza.name.apply(lambda x:len(x) )

In [10]:
pizza[['menus.description', 'menus.name']]

,menus.description,menus.name
0,NaN,Cheese Pizza
1,NaN,Pizza Cookie
2,a saucelessampcomma double cheese pizza with a...,Pizza Blanca
3,NaN,Small Pizza
4,NaN,Pizza Sub
...,...,...
9995,NaN,Super Steak Pizza
9996,NaN,Large Cheese & 1 Item Pizza
9997,NaN,"Individual 6"" Pepperoni Stuffed Deep Dish Pizza"
9998,NaN,"Individual 6"" Cheese Stuffed Deep Dish Pizza"
9999,NaN,King Arthur's Supreme Pizza

In [11]:
# Количество уникальных значений в колонке
pizza.name.nunique()

1827

In [12]:
# Уникальные значения в колонке
pizza.name.unique()

array(['Shotgun Dans Pizza', 'Sauce Pizza Wine', 'Mios Pizzeria', ...,
       'Bella Italia', 'Wood and Fire', "Carbone's Pizzeria"],
      dtype=object)

In [13]:
pizza.province

0       AR
1       AZ
2       OH
3       MI
4       MD
        ..
9995    NY
9996    NY
9997    IL
9998    IL
9999    NV
Name: province, Length: 10000, dtype: object

In [14]:
pizzaz_by_province = pizza.groupby('province')['name'].nunique()

In [15]:
# Группируем с помощью groupby
# количество уникальных названий по регионам 
pizzaz_by_province = pizza.groupby(['province'])['name'].nunique().reset_index()

In [16]:
# pizzaz_by_province

In [17]:
# проверяем названия колонок
pizzaz_by_province.columns

Index(['province', 'name'], dtype='object')

In [18]:
# Меняем названия на те что нам нравятся
pizzaz_by_province.columns = ['province','quantity']

In [19]:
pizzaz_by_province = pizzaz_by_province.rename(columns={'name':'quantity'},
                          # inplace=True
                          )

In [20]:
pizzaz_by_province.rename(columns={'name':'quantity'},
                          inplace=True
                          )

In [21]:
# pizzaz_by_province

In [22]:
# Сортируем по полю quantity
pizzaz_by_province = pizzaz_by_province.sort_values(by=['quantity'], ascending=[False])

In [23]:
# Размечаем те регионы, где много пиццерий с помощью numpy
pizzaz_by_province['many_or_not_many_pd'] = np.where(pizzaz_by_province['quantity']> 100,1,0)

In [24]:
np.where(pizzaz_by_province['quantity']> 100,1,0)

array([1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [25]:
pizzaz_by_province['quantity'] > 100

30     True
4      True
34     True
8      True
38     True
13     True
31    False
19    False
24    False
9     False
40    False
14    False
3     False
41    False
5     False
18    False
42    False
21    False
33    False
35    False
37    False
20    False
16    False
29    False
39    False
11    False
15    False
32    False
28    False
17    False
2     False
26    False
7     False
22    False
43    False
12    False
1     False
0     False
36    False
27    False
25    False
23    False
10    False
6     False
Name: quantity, dtype: bool

In [26]:
pizzaz_by_province[pizzaz_by_province['quantity'] > 100]['many_or_not_many_pd'] = 1

/var/folders/9z/_pdr4vys3c9_sdhkgcm_5s540000gn/T/ipykernel_2014/107677823.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pizzaz_by_province[pizzaz_by_province['quantity'] > 100]['many_or_not_many_pd'] = 1

In [28]:
# Размечаем те регионы, где много пиццерий с помощью pandas

# Неправильный вариант
# pizzaz_by_province[pizzaz_by_province['quantity'] > 100]['many_or_not_many_pd'] = 1
# pizzaz_by_province[pizzaz_by_province['quantity'] <=100]['many_or_not_many_pd'] = 0

# Правильный вариант
pizzaz_by_province['less_10'] = 0
pizzaz_by_province.loc[pizzaz_by_province['quantity'] < 10, 'less_10' ] = 1

In [29]:
less_10_provinces = pizzaz_by_province.loc[pizzaz_by_province['quantity'] < 10, 'province' ].tolist()

In [30]:
less_10_provinces

['NE', 'DE', 'MS', 'WV', 'ID', 'AL', 'AK', 'SD', 'NJ', 'ND', 'MT', 'HI', 'CT']

In [31]:
# Меняем тип данных в колонке
pizzaz_by_province.less_10.astype(float)

30    0.0
4     0.0
34    0.0
8     0.0
38    0.0
13    0.0
31    0.0
19    0.0
24    0.0
9     0.0
40    0.0
14    0.0
3     0.0
41    0.0
5     0.0
18    0.0
42    0.0
21    0.0
33    0.0
35    0.0
37    0.0
20    0.0
16    0.0
29    0.0
39    0.0
11    0.0
15    0.0
32    0.0
28    0.0
17    0.0
2     0.0
26    1.0
7     1.0
22    1.0
43    1.0
12    1.0
1     1.0
0     1.0
36    1.0
27    1.0
25    1.0
23    1.0
10    1.0
6     1.0
Name: less_10, dtype: float64

In [32]:
# Рассчитываем сумму или среднее значение по колонке

In [33]:
pizzaz_by_province.quantity.mul(10).divide(1000).round(2).astype(str) + '%'

30    3.95%
4     2.19%
34    1.72%
8     1.45%
38    1.17%
13    1.11%
31    0.82%
19    0.79%
24    0.62%
9     0.53%
40    0.52%
14    0.52%
3      0.5%
41    0.49%
5     0.35%
18    0.32%
42    0.32%
21    0.28%
33    0.28%
35    0.26%
37    0.25%
20    0.23%
16    0.21%
29    0.19%
39    0.15%
11    0.15%
15    0.12%
32    0.11%
28    0.11%
17     0.1%
2      0.1%
26    0.09%
7     0.07%
22    0.07%
43    0.06%
12    0.04%
1     0.03%
0     0.03%
36    0.02%
27    0.01%
25    0.01%
23    0.01%
10    0.01%
6     0.01%
Name: quantity, dtype: object

In [22]:
# Применение функции к элекментам колонки

In [34]:
def qdevtwo(x):
    if int(x) % 2 == 0:
        return 1
    else:
        return 0
        
pizzaz_by_province['dev2'] = pizzaz_by_province.quantity.apply(lambda x: qdevtwo(x))

In [35]:
pizzaz_by_province['dev2'] = pizzaz_by_province.quantity.apply(qdevtwo)

In [36]:
pizzaz_by_province.head(3)

   province  quantity  many_or_not_many_pd  less_10  dev2
30       NY       395                    1        0     0
4        CA       219                    1        0     0
34       PA       172                    1        0     1

In [37]:
pizzaz_by_province.iloc[1,:]

province                CA
quantity               219
many_or_not_many_pd      1
less_10                  0
dev2                     0
Name: 4, dtype: object

In [38]:
# Альтернативный вариант
dev2list = []
for i in range(pizzaz_by_province.shape[0]):
    val =  pizzaz_by_province.iloc[i,1]
    dev2list.append(qdevtwo(val))

pizzaz_by_province['dev2_loop'] = dev2list

In [39]:
pizzaz_by_province.head()

   province  quantity  many_or_not_many_pd  less_10  dev2  dev2_loop
30       NY       395                    1        0     0          0
4        CA       219                    1        0     0          0
34       PA       172                    1        0     1          1
8        FL       145                    1        0     0          0
38       TX       117                    1        0     0          0

In [40]:
pizza.shape

(10000, 23)

# Практическое задание

In [42]:
pizza.head()

,id,dateAdded,categories,primaryCategories,city,country,keys,latitude,longitude,menuPageURL,...,menus.dateSeen,menus.description,menus.name,name,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province,pizzeria_name_len
0,AVz3Y-7h3D1zeR_xDAqm,2017-06-30T05:05:40Z,"Pizza,Restaurant,American restaurants,Pizza Pl...",Accommodation & Food Services,Sherwood,US,us/ar/sherwood/4203ekiehlave/-1051391616,34.832300,-92.183800,http://www.citysearch.com/profile/menu/1550074...,...,"2018-05-01T04:25:37.197Z,2018-04-16T04:36:02.3...",NaN,Cheese Pizza,Shotgun Dans Pizza,72120,USD,0,25,AR,18
1,AVweGPFF_7pvs4fzAAzQ,2016-04-02T04:02:49Z,"Pizza,Pizza Place,Restaurants",Accommodation & Food Services,Phoenix,US,us/az/phoenix/25ecamelbackrd/-727422936,33.509266,-112.073044,NaN,...,"2018-03-03T02:38:06.381Z,2018-01-18T20:18:10.0...",NaN,Pizza Cookie,Sauce Pizza Wine,85012,USD,0,25,AZ,16
2,AVwdRGa9_7pvs4fz4E3K,2016-03-03T18:39:49Z,"Restaurant,Pizza Place,Restaurants",Accommodation & Food Services,Cincinnati,US,us/oh/cincinnati/3703paxtonave/-619797122,39.144883,-84.432685,http://www.citysearch.com/profile/menu/8160503...,...,"2018-04-10T07:58:34.585Z,2018-04-21T05:43:21.4...",a saucelessampcomma double cheese pizza with a...,Pizza Blanca,Mios Pizzeria,45209,USD,0,25,OH,13
3,AVwdX4psIN2L1WUfvJB1,2016-03-29T05:08:59Z,"Pizza,Carry-out food,Pizza Place,Restaurants",Accommodation & Food Services,Madison Heights,US,us/mi/madisonheights/30495johnrrd/-874863116,42.516669,-83.106630,NaN,...,"2016-10-20T21:50:02Z,2016-03-29T05:08:59Z",NaN,Small Pizza,Hungry Howies Pizza,48071,USD,25,40,MI,19
4,AVwdaeTtkufWRAb55pSH,2016-03-31T02:34:04Z,"Pizza,American restaurants,Pizza Place,Pizza e...",Accommodation & Food Services,Baltimore,US,us/md/baltimore/3600easternave/-1270965359,39.286630,-76.566984,NaN,...,2016-03-31T02:34:04Z,NaN,Pizza Sub,Spartan Pizzeria,21224,USD,0,25,MD,16

In [2]:
#1. Взять датасет c пицериями и убрать лишние колонки :
# 2. Заменить значения в колонке country c US на RU
# 3. Добавить значения в колонке menus.currency RUB, а в тех регионах, где пицерий меньше 10 добавить BTC
# 4. Рассчитайте количество пицерий в городе 'Santa Barbara' в переменную sb_pizza_num
# 5. Рассчитайте количество пицерий в Калифорнии (province == CA) в ca_pizza_num
# 6. Рассчитайте и выведите долю 'Santa Barbara' в пицериях Калифорнии
# 7. Рассчитайте средние значения priceRangeMin и priceRangeMax по primaryCategories
# 8. Выведите топ-5 самых популярных названий пицц по menus.name
# 9. Выведите самый редкий ингридиент из описания menus.description (опционально)
# 10. Создайте директорию pizza_provinces
# 11. Сохраните в эту директорию файлы с пицериями по регионам provinces
# В задании важно учесть условие:
#  Если регион начинается "A" то файл .xlsx, если 'N' то .csv, в остальных случаях .txt
#  Пример: 'AR.xlsx' содержит в себе все пицерии из региона 'AR'
# 12. Напишите функцию, которая на вход будет принимать регион, а на выходе выдавать город, где больше всего пцццерий
# 13. Рассчитайте и запишите в колонку city_len количество символов в названии города 2мя способами